<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.choong.spr.mapper.BoardMapper">
	
	<select id="selectBoard" resultType="com.choong.spr.domain.BoardDto">
		SELECT b.id, 
			   b.title, 
			   b.body, 
			   b.inserted, 
			   b.Writer, 
			   b.Hits,
			   COUNT(r.id) numOfReply 
		FROM Board b LEFT JOIN Reply r ON b.id = r.board_id
		GROUP BY b.id
		ORDER BY inserted DESC
	</select>
	
	<insert id="insertBoard" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO Board (title, writer, body, inserted)
		VALUES (#{title}, #{writer}, #{body}, #{inserted})
	</insert>

	<select id="getBoard" resultType="com.choong.spr.domain.BoardDto">
		SELECT id, title, body, inserted, Writer, Hits
		FROM Board
		WHERE id = #{id}
	</select>
	
	<update id="updateBoard">
		UPDATE Board
		SET title = #{title },
			body = #{body }
		WHERE id = #{id }
	</update>
	
	<delete id="deleteBoard">
		DELETE FROM Board
		WHERE id = #{id}
	</delete>

	<select id="selectSearchBoard" resultType="com.choong.spr.domain.BoardDto" >
	     SELECT b.id, 
	            b.title, 
	            b.body,
	            b.inserted, 
	            b.Writer, 
	            b.Hits,
	            COUNT(r.id) numOfReply 
	      FROM Board b LEFT JOIN Reply r ON b.id = r.board_id
	      WHERE 1=1 
	      <choose>
		    <when test="searchBoard == 'title'">
		      AND title LIKE CONCAT('%', #{searchKey}, '%')
		    </when>
		    <when test="searchBoard == 'writer'">
		      AND writer LIKE CONCAT('%', #{searchKey}, '%')
		    </when>
		  </choose>
	      GROUP BY b.id
	      ORDER BY inserted DESC
   </select>
   
   <select id="countBoard" resultType="com.choong.spr.domain.BoardDto">
		SELECT Count(id)
		FROM Board   
   </select>
   
   <select id="listBoardPage" resultType="com.choong.spr.domain.BoardDto">
   		SELECT id, title, body, inserted, Writer, Hits
   		FROM Board
   		LIMIT 1, 20
   		ORDER BY inserted DESC
   </select>

</mapper>